html, body{
    height:100%;
    margin:0%;
    padding:0%;
}

.row, .col, .col-auto, .container-fluid, *{
    margin:0%;
    padding:0%;
}

.color{
    background-color: rgba(61, 61, 61, 0.1);
}

.bd{
    border-color: black;
    border-style: dotted;
    border-width: 2px;
}

.tall{
    height: 100%;
}
.fill{
    width:100%;
}
.fit{
    width:fit-content;
}

.pad{
    padding:5px 5px 5px 5px;
}

.dflx{
    display: flex;
}

.flxflw{
    flex-flow: column;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right{
    justify-content: end;
    align-items: end;
    text-align:end;
}
.left{
    justify-content: start;
    align-items: start;
    text-align:start;
}

.growAuto{
    flex: 1 1 auto;
}

.grow40{
    flex: 0 1 40%;
}

.grow60{
    flex: 1 1 60%;
}

.box {
    margin:5px;
}

.clickable {
    cursor: pointer;
}

.invisable{
    visibility: hidden;
    display: none;
}