
html, body{
    height:100%;
    margin:0;
}

input{
    width:fit-content;
}

.color{
    background-color: rgba(175, 175, 175, 0.1);
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-flow: column;
    height:100%;
}

.center{
    justify-content: center;
    align-items: center;
}

.col {
    margin:0px;
    padding:0px;
}

#loginArea{
    flex: 0 0 auto;
}
#loginArea div {
    margin: 10px 10px 10px 10px;
}